@font-face {
  font-family: 'DungGeunMo';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

:root {
  --board-height: 70px;
  --board-width-ratio: 0.714;
}


.triple_wrap {
  position: relative;
  background-color: #0e082d;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.triple_wrap_inner {
  position: relative;
  width: 85%;
  height: 92%;
}

/* 위 */

.triple_top {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

.triple_top_title_circle {
  width: 50px;
  height: 100px;
  background: linear-gradient(to bottom, #dbab51, white, #dbab51);
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.triple_top_inner {
  position: absolute;
  top: 0;
  width: 50%;
  margin: 0 auto;
  background-color: #9f0f1c;
  height: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.triple_top_circle_wrap {
  width: 100%;
  height: 16.33%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.triple_top_circle {
  width: 3.3%;
  height: 80%;
  background-color: #fed128;
  border-radius: 50%;
  box-shadow: inset 0 0 0 4px #fdec6a, 0 0 5px 3px #bca83c,
    0 0 13px 7px #a1664a;
}

/* 왼쪽, 오른쪽 형광 원 + text wrap */
.triple_top_outside_text_wrap {
  width: 100%;
  height: 65%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.triple_top_outside_text_left {
  width: 5.5%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.triple_top_text_left_circle {
  width: 62%;
  height: 25%;
  background-color: #fed128;  
  border-radius: 50%;
  box-shadow: inset 0 0 0 4px #fdec6a, 0 0 5px 3px #bca83c,
      0 0 13px 7px #a1664a;
}

.triple_top_outside_text_inner {
  width: 89%;
  height: 100%;
  background-color: #580009;
  border-radius: 20px;
  box-shadow: inset 0 5px 10px rgba(0, 0, 0, 0.3),
    inset 0 -5px 10px rgba(0, 0, 0, 0.3), inset 5px 0 10px rgba(0, 0, 0, 0.3),
    inset -5px 0 10px rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
}

.triple_top_outside_text {
  font: 400 2.4vw 'DungGeunMo';
  /* color: #fed128; */
  animation: neon 1s ease infinite;
  -moz-animation: neon 1s ease infinite;
  -webkit-animation: neon 1s ease infinite;

}

@keyframes neon {

  0%,
  100% {
    text-shadow: 0 0 1px #fa1c16, 0 0 3px #fa1c16, 0 0 10px #fa1c16,
      0 0 10px #fa1c16, 0 0 0.4px #fed128, 0.5px 0.5px 0.1px #806914;
    color: #fed128;
  }

  50% {
    text-shadow: 0 0 0.5px #800e0b, 0 0 1.5px #800e0b, 0 0 5px #800e0b,
      0 0 5px #800e0b, 0 0 0.2px #800e0b, 0.5px 0.5px 0.1px #40340a;
    color: #806914;
  }
}

.triple_top_outside_text_right {
  width: 5.5%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.triple_top_text_right_circle {
  width: 62%;
  height: 25%;
  background-color: #fed128;
  /* 노란 형광색 */
  border-radius: 50%;
  box-shadow: inset 0 0 0 4px #fdec6a, 0 0 5px 3px #bca83c,
      0 0 13px 7px #a1664a;
}

.triple_top_circle_bottom_wrap {
  width: 98.2%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.triple_top_circle_bottom {
  width: 3.8%;
  height: 97%;
  background-color: #fed128;
  border-radius: 50%;
  box-shadow: inset 0 0 0 4px #fdec6a, 0 0 5px 3px #bca83c,
      0 0 13px 7px #a1664a;
}

/* 중간 */
.triple_middle {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 58%;
}



.triple_middle_inner {
  position: relative;
  width: 70%;
  margin: 0 auto;
  height: 100%;
  background: linear-gradient(to bottom, #a3010e, #970b10, #720b09);
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.triple_middle_circle_left_wrap {
  width: 5%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.triple_middle_circle {
  width: 50%;
  height: 5.5%;
  background-color: #fed128;
  /* 노란 형광색 */
  border-radius: 50%;
  box-shadow: inset 0 0 0 4px #fdec6a, 0 0 7px 5px #bca83c,
    0 0 15px 9px #a1664a;
}

.triple_middle_circle_right_wrap {
  width: 5%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.triple_middle_outside_box_wrap {
  width: 90%;
  height: 80%;
  background-color: #3f4142;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.triple_middle_outside_gold {
  width: 90%;
  height: 80%;
  background: #dbab51;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}


.triple_middle_outside_gold_box {
  width: 30%;
  height: 75%;
  background-color: #fcefc5;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: 0 2px 0 rgba(0, 0, 0, 0.1), 0 3px 5px rgba(0, 0, 0, 0.2);
  /* 그림자 */
  color: #9f0f1c;
  animation: sparkle 1s infinite;
}

@keyframes sparkle {

  0%,
  100% {
    text-shadow: 0 0 3px #d15768, 0 0 6px #d15768, 0 0 9px #d15768,
      0 0 12px #d15768;
  }

  50% {
    text-shadow: none;
  }
}

/* 아래 */
.triple_bottom {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 22%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.triple_bottom_support {
  width: calc(50% - var(--board-height) * var(--board-width-ratio));
  height: 10%;
  background: linear-gradient(to bottom, #720b09, #900717, #bb0715);
}

.triple_bottom_board {
  border-bottom: 70px solid #bb0715;
  border-left: calc(var(--board-height) * var(--board-width-ratio)) solid transparent;
  border-right: calc(var(--board-height) * var(--board-width-ratio)) solid transparent;
  width: 70%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}

.triple_bottom_board_line {
  width: calc(90% * 0.777);
  height: 2%;
  background: #cd4e53;
}

.triple_bottom_board_shadow {
  width: calc(90% * 0.777);
  height: 20%;
  background: linear-gradient(to bottom, #bb0715, #5b0105);
}

.seven_img {
  width: 60%;
  height: 78%;
}