@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;900&display=swap");
@font-face {
  font-family: "EF_jejudoldam";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2210-EF@1.0/EF_jejudoldam.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "HSSaemaul-Regular";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/HSSaemaul-Regular.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Freesentation-9Black";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2404@1.0/Freesentation-9Black.woff2")
    format("woff2");
  font-weight: 900;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  background-image: url('/frontend-1st-triple_roulette/img/background.png');
  background-size: cover;
  background-position: center;
  font-family: "Inconsolata", monospace;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
* {
  user-select: none;
}
canvas {
  box-sizing: content-box;
}
.intro {
  position: relative;
  /* width: 100vw; */
  /* height: 100vh; */
}
.dropCoin {
  position: absolute;
  cursor: grab;
  width: 40px;
  height: 40px;
}
.word.highlighted {
  font-weight: bold;
  color: #9d060b;
}

a {
  text-decoration: none;
  color: black;
  display: block;
  padding: 1rem;
}

.intro_click {
  display: none;
  position: absolute;
  right: 40px;
  top: 30px;
  color: white;
  transition: opacity 1s ease;
}
