@media (min-width: 1600px) {
    .triple_top_outside_text {
        font-size: 90px;
    }

    ._board_btn_label {
        width: 120px;
        height: 40px;
    }

    .triple_bottom_board {
        border-bottom: 80px solid #bb0715;
    }
}

@media (min-width: 1000px) and (max-width: 1599px) {}

@media (min-width: 500px) and (max-width: 999px) {
    .triple_top_outside_text {
        font-size: 50px;
    }

    ._board_btn_label {
        width: 80px;
        height: 25px;
    }

    ._board_btn_label {
        transform: translateY(-80%);
    }

    ._board_btn_input:checked+._board_btn_label {
        transform: translateY(-75%);
    }
}

@media (max-width: 500px) {}