@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

.triple_wrap {
  position: relative;
  background-color: #0e082d;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.triple_wrap_inner {
  position: relative;
  width: 85%;
  height: 92%;
}

/* 위 */

.triple_top {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

.triple_top_title_circle {
  width: 50px;
  height: 100px;
  background: linear-gradient(to bottom, #dbab51, white, #dbab51);
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.triple_top_inner {
  position: absolute;
  top: 0;
  width: 50%;
  margin: 0 auto;
  background-color: #9f0f1c;
  height: 100%;
  border-top-left-radius: 20px;
  /* 왼쪽 위 모서리에 반지름 20px 적용 */
  border-top-right-radius: 20px;
  /* 오른쪽 위 모서리에 반지름 20px 적용 */
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.triple_top_circle_wrap {
  width: 100%;
  height: 16.33%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.triple_top_circle {
  width: 3.5%;
  height: 85%;
  background-color: #fed128;
  /* 노란 형광색 */
  border-radius: 50%;
  box-shadow: 0 0 20px rgba(255, 235, 59, 0.7),
    /* 외부 빛 효과 */ 0 0 30px rgba(255, 235, 59, 0.5),
    /* 외부 빛 효과 */ 0 10px 15px rgba(0, 0, 0, 0.3),
    /* 아래쪽 그림자 */ inset 0 0 10px rgba(255, 255, 255, 0.5),
    /* 내부 반사 효과 */ inset 0 -5px 15px rgba(0, 0, 0, 0.5);
  /* 내부 아래쪽 그림자 */
}

/* 왼쪽, 오른쪽 형광 원 + text wrap */
.triple_top_outside_text_wrap {
  width: 100%;
  height: 65%;
  display: flex;
  justify-content: center;
}

.triple_top_outside_text_left {
  width: 5.5%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.triple_top_text_left_circle {
  width: 65%;
  height: 28%;
  background-color: #fed128;
  /* 노란 형광색 */
  border-radius: 50%;
  box-shadow: 0 0 20px rgba(255, 235, 59, 0.7),
    /* 외부 빛 효과 */ 0 0 30px rgba(255, 235, 59, 0.5),
    /* 외부 빛 효과 */ 0 10px 15px rgba(0, 0, 0, 0.3),
    /* 아래쪽 그림자 */ inset 0 0 10px rgba(255, 255, 255, 0.5),
    /* 내부 반사 효과 */ inset 0 -5px 15px rgba(0, 0, 0, 0.5);
  /* 내부 아래쪽 그림자 */
}

.triple_top_outside_text_inner {
  width: 89%;
  height: 100%;
  background-color: #580009;
  border-radius: 20px;
  box-shadow: inset 0 5px 10px rgba(0, 0, 0, 0.3),
    inset 0 -5px 10px rgba(0, 0, 0, 0.3), inset 5px 0 10px rgba(0, 0, 0, 0.3),
    inset -5px 0 10px rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
}

.triple_top_outside_text {
  font-size: 70px;
  font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-style: normal;
  animation: neon 1s ease infinite;
  -moz-animation: neon 1s ease infinite;
  -webkit-animation: neon 1s ease infinite;
}

@keyframes neon {
  0%,
  100% {
    text-shadow: 0 0 1vw #fa1c16, 0 0 3vw #fa1c16, 0 0 10vw #fa1c16,
      0 0 10vw #fa1c16, 0 0 0.4vw #fed128, 0.5vw 0.5vw 0.1vw #806914;
    color: #fed128;
  }

  50% {
    text-shadow: 0 0 0.5vw #800e0b, 0 0 1.5vw #800e0b, 0 0 5vw #800e0b,
      0 0 5vw #800e0b, 0 0 0.2vw #800e0b, 0.5vw 0.5vw 0.1vw #40340a;
    color: #806914;
  }
}

.triple_top_outside_text_right {
  width: 5.5%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.triple_top_text_right_circle {
  width: 65%;
  height: 28%;
  background-color: #fed128;
  /* 노란 형광색 */
  border-radius: 50%;
  box-shadow: 0 0 20px rgba(255, 235, 59, 0.7),
    /* 외부 빛 효과 */ 0 0 30px rgba(255, 235, 59, 0.5),
    /* 외부 빛 효과 */ 0 10px 15px rgba(0, 0, 0, 0.3),
    /* 아래쪽 그림자 */ inset 0 0 10px rgba(255, 255, 255, 0.5),
    /* 내부 반사 효과 */ inset 0 -5px 15px rgba(0, 0, 0, 0.5);
  /* 내부 아래쪽 그림자 */
}

.triple_top_circle_bottom_wrap {
  width: 98.2%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.triple_top_circle_bottom {
  width: 3.8%;
  height: 97%;
  background-color: #fed128;
  /* 노란 형광색 */
  border-radius: 50%;
  box-shadow: 0 0 20px rgba(255, 235, 59, 0.7),
    /* 외부 빛 효과 */ 0 0 30px rgba(255, 235, 59, 0.5),
    /* 외부 빛 효과 */ 0 10px 15px rgba(0, 0, 0, 0.3),
    /* 아래쪽 그림자 */ inset 0 0 10px rgba(255, 255, 255, 0.5),
    /* 내부 반사 효과 */ inset 0 -5px 15px rgba(0, 0, 0, 0.5);
  /* 내부 아래쪽 그림자 */
}

/* 중간 */
.triple_middle {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 58%;
}

.triple_middle_toggle {
  position: absolute;
  top: 20%;
  right: 11.5%;
  width: 3.5%;
  height: 60%;
  background: linear-gradient(to bottom, #a3010e, #970b10, #720b09);
  border-top-right-radius: 10px; /* 오른쪽 위 모서리 반지름 */
  border-bottom-right-radius: 10px; /* 오른쪽 아래 모서리 반지름 */
}

._toggle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

._toggle input {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  z-index: 100;
}

._toggle label {
  height: 220px;
  width: 10px;
  background-color: #0e082d;
  border-radius: 10px;
  display: block;
  box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.2),
    inset 0 0 5px -2px rgba(0, 0, 0, 0.4);
}

/* 토글 스위치의 전구 부분 */
._toggle_bulb {
  height: 50px;
  width: 50px;
  background-color: #0e082d;
  border-radius: 50%;
  position: relative;
  top: 10px;
  left: -19px;
  display: block;
  transition: 0.7s;
  box-shadow: inset 0 0 1px 3px #4a426b, inset 0 0 6px 8px #423963,
    0 20px 30px -10px rgba(0, 0, 0, 0.4);
}

/* 전구 중앙 부분 */
._toggle_bulb_center {
  position: absolute;
  display: block;
  height: 36px;
  width: 36px;
  background-color: #5a527b;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transition: 0.8s;
  transform: translate(-50%, -50%);
  box-shadow: inset 0 0 0 4px #635a84;
}

/* 전구 중앙의 작은 원 부분 */
._toggle_bulb_center::after {
  content: "";
  display: block;
  height: 14px;
  width: 14px;
  background-color: #7b7394;
  border-radius: 50%;
  position: absolute;
  transition: 0.7s;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 2px 4px #524a73;
}

/* 전구 필라멘트 부분 */
._toggle_bulb_filament1,
._toggle_bulb_filament2 {
  position: absolute;
  display: block;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  overflow: hidden;
  transform: translate(-50%, -50%) rotate(-45deg);
  cursor: pointer;
}

/* 전구 필라멘트의 빛 부분 */
._toggle_bulb_filament1::after,
._toggle_bulb_filament2::after,
._toggle_bulb_filament1::before,
._toggle_bulb_filament2::before {
  content: "";
  display: block;
  height: 6px;
  width: 17px;
  border-radius: 50%;
  border: 2px solid #4a426b;
  position: absolute;
  transition: 0.7s;
  top: -4px;
  left: -2px;
  transform: rotate(-10deg);
}

._toggle_bulb_filament1::before,
._toggle_bulb_filament2::before {
  left: 15px;
  transform: rotate(10deg);
}

/* 전구 반사 부분 */
._toggle_bulb_reflections {
  height: 100%;
  width: 100%;
  display: block;
  border-radius: 50%;
  overflow: hidden;
  position: absolute;
  z-index: 90;
  perspective: 70px;
  cursor: pointer;
}

._toggle_bulb_reflections > span {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  background-image: linear-gradient(
    -135deg,
    transparent 10%,
    rgba(255, 255, 255, 0.3)
  );
  position: absolute;
  left: -40px;
  bottom: -45px;
}

._toggle_bulb_reflections > span::after {
  content: "";
  display: block;
  height: 35px;
  width: 20px;
  position: absolute;
  top: -36px;
  right: -40px;
  border-radius: 50%;
  box-shadow: 4px -2px 0 -3px rgba(255, 255, 255, 0.4);
  filter: blur(1px);
  transform: rotate(-10deg);
}

._toggle_bulb_reflections::after {
  content: "";
  display: block;
  height: 80px;
  width: 50px;
  background-image: linear-gradient(
    80deg,
    rgba(255, 255, 255, 0.05) 45%,
    rgba(255, 255, 255, 0.5)
  );
  border-radius: 10% 20% 50% 30%/30% 60% 30% 40%;
  position: absolute;
  transform-style: preserve-3d;
  transform: rotateX(-25deg) rotate(-35deg) skewx(-15deg) translate(10px, -20px);
  top: -8px;
  left: -5px;
}

._toggle_bulb_reflections::before {
  content: "";
  display: block;
  position: absolute;
  height: 10px;
  width: 30px;
  background-image: linear-gradient(
    to right,
    transparent,
    rgba(255, 255, 255, 0.15)
  );
  bottom: 10px;
  right: 0px;
  transform: rotate(45deg);
}

/* 전구 불빛 부분 */
._toggle_bulb_sparks_spark1,
._toggle_bulb_sparks_spark2,
._toggle_bulb_sparks_spark3,
._toggle_bulb_sparks_spark4 {
  display: block;
  height: 1px;
  width: 1px;
  background-color: #d1b82b;
  position: absolute;
  transition: 0.4s;
  opacity: 0;
  border-radius: 50%;
}

._toggle_bulb_sparks_spark1 {
  right: -5px;
  bottom: 23px;
}

._toggle_bulb_sparks_spark2 {
  right: 20px;
  bottom: 80px;
}

._toggle_bulb_sparks_spark3 {
  left: 20px;
  bottom: 80px;
}

._toggle_bulb_sparks_spark4 {
  left: 20px;
  bottom: 20px;
}

/* 토글 스위치 상태 변화에 따른 스타일 변경 */
._toggle input:checked ~ label ._toggle_bulb {
  top: 150px;
  background-color: #a7694a;
  box-shadow: inset 0 0 1px 3px #a56758, inset 0 0 6px 8px #6b454f,
    0 20px 30px -10px rgba(0, 0, 0, 0.4), 0 0 30px 50px rgba(253, 184, 67, 0.1);
}

._toggle input:checked ~ label ._toggle_bulb > ._toggle_bulb_center {
  background-color: #feed6b;
  box-shadow: inset 0 0 0 4px #fdec6a, 0 0 12px 10px #bca83c,
    0 0 20px 14px #a1664a;
}

._toggle input:checked ~ label ._toggle_bulb > ._toggle_bulb_center:after {
  background-color: #fef401;
  box-shadow: 0 0 2px 4px #fdb843;
}

._toggle input:checked ~ label ._toggle_bulb > ._toggle_bulb_filament1:before,
._toggle input:checked ~ label ._toggle_bulb > ._toggle_bulb_filament2:before,
._toggle input:checked ~ label ._toggle_bulb > ._toggle_bulb_filament1:after,
._toggle input:checked ~ label ._toggle_bulb > ._toggle_bulb_filament2:after {
  border-color: #fef4d5;
}

._toggle input:checked ~ label ._toggle_bulb > ._toggle_bulb_sparks_spark1 {
  height: 1px;
  width: 1px;
  animation: spark1 2s ease-in-out;
  animation-delay: 0.4s;
}

._toggle input:checked ~ label ._toggle_bulb > ._toggle_bulb_sparks_spark2 {
  height: 1px;
  width: 1px;
  animation: spark2 2.4s ease-in-out;
  animation-delay: 0.4s;
}

._toggle input:checked ~ label ._toggle_bulb > ._toggle_bulb_sparks_spark3 {
  height: 1px;
  width: 1px;
  animation: spark3 2s ease-in-out;
  animation-delay: 0.9s;
}

._toggle input:checked ~ label ._toggle_bulb > ._toggle_bulb_sparks_spark4 {
  height: 1px;
  width: 1px;
  animation: spark4 1.7s ease-in-out;
  animation-delay: 0.9s;
}

@keyframes spark1 {
  0% {
    right: -5px;
    height: 1px;
    width: 1px;
    opacity: 0;
  }
  20% {
    height: 3px;
    width: 3px;
    right: 0px;
    opacity: 1;
  }
  30% {
    right: -5px;
    opacity: 1;
    height: 3px;
    width: 3px;
  }
  70% {
    height: 3px;
    width: 3px;
  }
  100% {
    right: -60px;
    bottom: 40px;
    opacity: 0;
  }
}

@keyframes spark2 {
  0% {
    height: 3px;
    width: 3px;
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  100% {
    right: -20px;
    bottom: 100px;
    opacity: 0;
  }
}

@keyframes spark3 {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
    height: 2px;
    width: 2px;
  }
  100% {
    left: 0px;
    bottom: 100px;
    opacity: 0;
    height: 3px;
    width: 3px;
  }
}

@keyframes spark4 {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
    height: 2px;
    width: 2px;
  }
  100% {
    left: -20px;
    bottom: -10px;
    opacity: 0;
    height: 3px;
    width: 3px;
  }
}

.triple_middle_inner {
  position: relative;
  width: 70%;
  margin: 0 auto;
  height: 100%;
  background: linear-gradient(to bottom, #a3010e, #970b10, #720b09);
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.triple_middle_circle_left_wrap {
  width: 5%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.triple_middle_circle {
  width: 50%;
  height: 5.5%;
  background-color: #fed128;
  /* 노란 형광색 */
  border-radius: 50%;
  box-shadow: 0 0 20px rgba(255, 235, 59, 0.7),
    /* 외부 빛 효과 */ 0 0 30px rgba(255, 235, 59, 0.5),
    /* 외부 빛 효과 */ 0 10px 15px rgba(0, 0, 0, 0.3),
    /* 아래쪽 그림자 */ inset 0 0 10px rgba(255, 255, 255, 0.5),
    /* 내부 반사 효과 */ inset 0 -5px 15px rgba(0, 0, 0, 0.5);
}

.triple_middle_circle_right_wrap {
  width: 5%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.triple_middle_outside_box_wrap {
  width: 90%;
  height: 80%;
  background-color: #3f4142;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.triple_middle_outside_gold {
  width: 90%;
  height: 80%;
  background: #dbab51;
  /* box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3); */
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.triple_middle_outside_gold_box {
  width: 30%;
  height: 75%;
  background-color: #fcefc5;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 150px;
  font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-shadow: 0 2px 0 rgba(0, 0, 0, 0.1), 0 3px 5px rgba(0, 0, 0, 0.2); /* 그림자 */
  color: #9f0f1c;
  animation: sparkle 1s infinite;
}

@keyframes sparkle {
  0%,
  100% {
    text-shadow: 0 0 3px #d15768, 0 0 6px #d15768, 0 0 9px #d15768,
      0 0 12px #d15768;
  }
  50% {
    text-shadow: none;
  }
}

/* 아래 */
.triple_bottom {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 22%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.triple_bottom_support {
  width: 50%;
  height: 10%;
  background: linear-gradient(to bottom, #720b09, #900717, #bb0715);
}

.triple_bottom_board {
  border-bottom: 70px solid #bb0715;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  width: 70%;
  display: flex;
  justify-content: center;
}

.triple_bottom_board_btn_wrap {
  position: absolute;
  height: 50%;
  width: calc(60%);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.triple_bottom_board_btn {
  flex: 1; /* 동일한 너비를 가지도록 설정 */
  text-align: center; /* 버튼 내용 가운데 정렬 */
  padding: 10px 0; /* 버튼 내부 여백 */
}

._board_btn_input {
  display: none;
}

._board_btn_label {
  display: block;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(80%) translateY(-50%);
  transform: translateX(80%) translateY(-50%);
  z-index: 3;
  /* position: absolute; */
  transition: 0.2s ease-in-out;
  width: 100px;
  height: 30px;
  border-radius: 100%;
  box-shadow: 0 0 0 2px #7f0008, 0 5px 0 2px #7f0008, 0 12px 0 10px #dbab51,
    0 12px 0 12px #c29849;
  background: #9d060b;
  cursor: pointer;
}

._board_btn_input:checked + ._board_btn_label {
  -webkit-transform: translateX(80%) translateY(calc(-50% + 5px));
  transform: translateX(80%) translateY(calc(-50% + 5px));
  box-shadow: 0 0 0 2px #7f0008, 0 0px 0 2px #7f0008, 0 7px 0 10px #dbab51,
    0 7px 0 12px #c29849;
  z-index: 999;
}

.triple_bottom_board_line {
  width: 77.7%;
  height: 2%;
  background: #cd4e53;
}

.triple_bottom_board_shadow {
  width: 77.7%;
  height: 20%;
  background: linear-gradient(to bottom, #bb0715, #5b0105);
}
